/* .miinput {
  background-image: url("../images/input.png");
} */

* {
  margin: 0px;
  box-sizing: border-box;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.title {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 3px;
  background-image: url("../images/f5.png");
  color: rgb(14, 96, 123);
}

.title h1 {
  border-radius: 10px;
  padding: 2px;
}

.nickname {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 5px;
  width: 100%;
  color: rgb(14, 96, 123);
}

.nicknametitle {
  text-align: center;
}

.nickname h3 {
  width: 350px;
}

.nickname input {
  width: 350px;
  border-radius: 5px;
  background-image: url("../images/input.png");
}

.buttonselect {
  width: 350px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.select {
  display: flex;
  align-items: center;
  margin-left: 5px;
}

.select select {
  height: 25px;
}

.containerTfiReload {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2px;
}

.containerTfiReload button {
  border: none;
  padding: 0px;
  margin: 0px;
  background: none;
}

.tfireload {
  font-size: 30px;
  margin: 0px;
  padding: 0px;
}

.containerTfiReload p {
  font-size: 70%;
  margin: 0px;
  padding: cpx;
}

.margindivs {
  margin: 5px;
}

.margindivs h4 {
  width: 350px;
  text-align: center;
  color: red;
}

.containergoplay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
}

.containergoplay button {
  border: none;
  padding: 0px;
  margin: 0px;
  background: none;
}

.goplay {
  font-size: 30px;
}

.containerturnscore {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
}

.turn {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 5px;
}

.turn h3 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.turn h4 {
  display: flex;
  align-items: center;
}

.score {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: row;
  width: 100%;
}

.score h3 {
  margin-left: 5px;
}

.scoremap {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.scoremapitem {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding-left: 2px;
  padding-right: 2px;
  margin: 1px;
}

.containershotbutton {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.containershotbutton h3 {
  width: 350px;
  text-align: center;
}

.containershotbutton h4 {
  width: 350px;
  text-align: center;
  color: red;
}

.containershotbutton input {
  width: 350px;
  border-radius: 5px;
  background-image: url("../images/input.png");
}

.containerbutton {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
}

.containertable {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  max-height: 300px;
  overflow-y: auto;
  margin-top: 5px;
}

.containertable h3 {
  text-align: center;
  margin-top: 5px;
}

.trtitle {
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.trtitle th {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  width: 80px;
}

.containeritems {
  display: flex;
  flex-direction: column-reverse;
}

.tritem {
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.tritem td {
  width: 35px;
  height: 35px;
  margin-top: 5px;
  display: flex;
}

.truecolor {
  background-color: green;
  border-radius: 100%;
  padding: 10px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.falsecolor {
  background-color: red;
  border-radius: 100%;
  padding: 10px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.randomnumber {
  background-color: rgb(64, 107, 133);
  border-radius: 100%;
  padding: 10px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerchat {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  margin-top: 5px;
  padding: 5px;
}

.containerchat h3 {
  text-align: center;
}

.messages {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  max-height: 135px;
  overflow-y: auto;
  margin-top: 5px;
  padding: 5px;
}

.containermap {
  background-color: rgb(26, 66, 78);
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 10px;
}

.userName {
  background-color: rgba(79, 140, 113, 0.829);
  padding: 5px;
  width: auto;
  height: 30px;
  border-radius: 10px;
  color: white;
  margin: 3px;
  margin-right: 2px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 110%;
}

.containertexttime {
  display: flex;
  flex-direction: column;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.messageText {
  background-color: rgb(183, 206, 233);
  border-radius: 8px;
  padding: 2px;
  font-size: 110%;
  margin-left: 5px;
}

.messageTime {
  display: flex;
  justify-content: end;
  align-items: end;
  font-size: 12px;
  padding: 2px;
  color: white;
  margin-right: 5px;
  margin-top: 5px;
}

.containerinputchat {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.containerinputchat input {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  width: 350px;
  margin-right: 5px;
  border-radius: 5px;
  margin: 5px;
  background-image: url("../images/input.png");
}

.containerinputchat button {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  margin: 5px;
}

.connectionmsm {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  width: 350px;
  text-align: center;
  padding: 3px;
  color: red;
  font-size: 110%;
  margin-top: 5px;
}

.containermsm {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5px;
}

.connectionmsmerror {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  width: 350px;
  text-align: center;
  padding: 3px;
  color: red;
  font-size: 110%;
}

@media (max-width: 768px) {
  .containertable {
    max-height: 200px;
  }
}

@media (max-width: 400px) {
  .nickname h3 {
    width: 330px;
  }

  .nickname input {
    width: 330px;
  }

  .margindivs h4 {
    width: 330px;
  }

  .buttonselect {
    width: 330px;
  }

  .containershotbutton h3 {
    width: 330px;
  }

  .containershotbutton h4 {
    width: 330px;
  }

  .containershotbutton input {
    width: 330px;
  }
}

@media (max-width: 375px) {
  .nickname h3 {
    width: 320px;
  }

  .nickname input {
    width: 320px;
  }

  .margindivs h4 {
    width: 320px;
  }

  .buttonselect {
    width: 320px;
  }

  .containershotbutton h3 {
    width: 320px;
  }

  .containershotbutton h4 {
    width: 320px;
  }

  .containershotbutton input {
    width: 320px;
  }

  .connectionmsm {
    width: 320px;
  }

  .connectionmsmerror {
    width: 320px;
  }
}

@media (max-width: 363px) {
  .nickname h3 {
    width: 300px;
  }

  .nickname input {
    width: 300px;
  }

  .margindivs h4 {
    width: 300px;
  }

  .buttonselect {
    width: 300px;
  }

  .containershotbutton h3 {
    width: 300px;
  }

  .containershotbutton h4 {
    width: 300px;
  }

  .containershotbutton input {
    width: 300px;
  }

  .connectionmsm {
    width: 300px;
  }

  .connectionmsmerror {
    width: 300px;
  }
}

@media (max-width: 342px) {
  .nickname h3 {
    width: 285px;
  }

  .nickname input {
    width: 285px;
  }

  .margindivs h4 {
    width: 285px;
  }

  .buttonselect {
    width: 285px;
  }

  .containershotbutton h3 {
    width: 285px;
  }

  .containershotbutton h4 {
    width: 285px;
  }

  .containershotbutton input {
    width: 285px;
  }

  .connectionmsm {
    width: 285px;
  }

  .connectionmsmerror {
    width: 285px;
  }
}

@media (max-width: 320px) {
  .nickname h3 {
    width: 280px;
  }

  .nickname input {
    width: 280px;
  }

  .margindivs h4 {
    width: 280px;
  }

  .buttonselect {
    width: 280px;
  }

  .containershotbutton h3 {
    width: 280px;
  }

  .containershotbutton h4 {
    width: 280px;
  }

  .containershotbutton input {
    width: 280px;
  }

  .connectionmsm {
    width: 280px;
  }

  .connectionmsmerror {
    width: 280px;
  }
}
